<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/contact.css">
    <title>Contact</title>
</head>

<body>
    <div class="main-container">

        <div class="contact-form contact">
            <h2>Contact Me</h2>

            <form action="https://formspree.io/f/xknedypv" method="POST">
                <input type="text" name="name" id="name" placeholder="Name" required><br>
                
                <input type="email" name="email" id="email" placeholder="Email" required><br>
                <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone number" required><br>
                <textarea type="text" rows="4" name="message" id="message" placeholder="Message..."
                    required></textarea><br>

                <button type="submit">Send</button>
            </form>
        </div>

        <div class="image-container"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"
        integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/panolens.min.js') }}"></script>

    <script>
        let panorama, viewer;
        const imageContainer = document.querySelector(".image-container");

        panorama = new PANOLENS.ImagePanorama("static/images/contact-background.jpeg")


        viewer = new PANOLENS.Viewer({
            container: imageContainer,
            autoRotate: true,
            // autoRotateSpeed: 1,
            controlBar: false
        });

        viewer.add(panorama)
    </script>
</body>

</html>