*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #8e44ad, white, #8e44ad);
}
.wrapper{
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .titletext{
    display: flex;
    width: 200%;
}

.wrapper .titletext .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .formcontainer{
    width: 100%;
    overflow: hidden;
}

.formcontainer .slidecontrols{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    margin: 30px 0 10px 0;
    border: 1px solid lightgrey;
}

.slidecontrols .slide{
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slidecontrols .signup{
    color: #000;
}

.slidecontrols .slidetab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #8e44ad;
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slidetab{
    left: 50%;
}

#signup:checked ~ .signup{
    color: #fff;
}

#signup:checked ~ .login{
    color: #000;
}

.formcontainer .forminner{
    display: flex;
    width: 200%;
}
.formcontainer .forminner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.forminner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.forminner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.forminner form .field input:focus{
    border-color: #8e44ad;
}

.forminner form .passlink{
    margin-top: 5px;
}
.forminner form .passlink a,
.forminner form .signuplink a{
    color: #8e44ad;
    text-decoration: none;
}

.forminner form .signuplink{
    text-align: center;
    margin-top: 30px;
}


.forminner form .passlink a:hover,
.forminner form .signuplink a:hover{
    text-decoration: underline;
}

form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    background: #8e44ad;
}