body {
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #111;
  /* flex-direction: column; */
}

.main-container .image-container {
  /* flex: 1; */
  height: 100vh;
  position: fixed;
  width: 100%;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #fff;
}

nav .logo{
  padding: 22px;
  height: 80px;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  
}
nav ul li a:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}
